* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Open Sans"; }

.container {
  max-width: 1200px;
  margin: 0 auto; }
  .container .row {
    margin: 50px auto; }

header {
  background-color: #313234;
  height: 50px; }
  header > nav > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right; }
    header > nav > ul > li {
      display: inline-block;
      width: 100px;
      text-align: center; }
      header > nav > ul > li > a {
        line-height: 50px;
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        color: #eee; }
  header > nav > img {
    padding: 10px 0; }

.hero {
  width: 100%;
  height: 100vh;
  padding: 42vh 0 0;
  background: url(https://images.pexels.com/photos/281184/pexels-photo-281184.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
  background-size: cover;
  background-position: center;
  overflow: hidden; }

.slogan {
  width: 200px;
  height: 80px;
  line-height: 40px;
  margin-right: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  float: right;
  color: white;
  text-align: center; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.col-offset-1 {
  margin-left: 8.33%; }

.col-offset-2 {
  margin-left: 16.66%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.33%; }

.col-offset-5 {
  margin-left: 41.66%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.33%; }

.col-offset-8 {
  margin-left: 66.66%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.33%; }

.col-offset-11 {
  margin-left: 91.66%; }

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: 0px; }

.icon {
  background-color: #0E0E0E;
  color: white;
  border-radius: 20%; }

.text-center {
  text-align: center; }

.row:before,
.row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.gallery .row img {
  width: 100%; }

.layer {
  position: absolute;
  top: 41%;
  left: 27%; }
  .layer i {
    display: none;
    padding: 20px; }

.image {
  position: relative; }

.circle {
  margin-top: 50px;
  width: 250px;
  height: 250px;
  background-color: lightgray;
  border-radius: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  .circle p {
    display: none;
    position: absolute;
    top: 40%;
    left: 37%; }

.promotion {
  width: 100%;
  height: 300px;
  margin-top: 50px;
  background-color: khaki; }

.picture img {
  margin-top: 25%;
  float: right;
  margin-right: 10px; }

.text {
  width: 66.66%;
  float: right;
  height: 250px;
  margin-top: 4%; }
  .text h1, .text .text p {
    text-align: left; }

.numbers {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bolder;
  line-height: 50%; }
  .numbers p {
    font-size: 30px;
    font-weight: bolder; }
  .numbers h6 {
    color: #07ceda;
    text-transform: uppercase; }

.footer {
  background-color: #313332;
  color: white;
  text-align: left;
  font-size: 15px; }
  .footer i {
    background-color: #07ceda;
    padding: 5px; }

.down {
  background-color: #282828;
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px; }

/*-------------------1------------- */
@media(min-width: 1200px) {
  a:hover {
    background-color: #424345;
    color: #fff; }

  .container .col-4 .icon:hover {
    background-color: #07ceda; }
  .container .col-4 .icon:hover ~ h3 {
    color: #07ceda; }

  .circle:hover {
    background-color: gray;
    transition: 1.1s; }
    .circle:hover p {
      display: inline-block;
      color: white; }

  .image:hover {
    opacity: 0.5; }
    .image:hover .layer i {
      display: inline-block; } }
/*---------------2------------ */
@media(min-width: 768px) and (max-width: 1199px) {
  .layer i {
    display: inline-block;
    padding: 10px; }

  .circle {
    margin-top: 30px;
    width: 150px;
    height: 150px; }
    .circle p {
      display: inline;
      top: 35%;
      left: 30%; }

  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; }

  .promotion {
    width: 100%;
    height: 370px;
    margin-top: 50px;
    background-color: khaki; }

  .text {
    width: 58.33%;
    height: 335px;
    margin-top: 2%; }

  .footer .col-m-12 + .col-m-12 {
    margin-top: -40px; } }
/*------------------3-------------------- */
@media(max-width: 767px) {
  .layer i {
    display: inline-block;
    padding: 10px; }

  .col-s-1 {
    width: 8.33%; }

  .col-s-2 {
    width: 16.66%; }

  .col-s-3 {
    width: 25%; }

  .col-s-4 {
    width: 33.33%; }

  .col-s-5 {
    width: 41.66%; }

  .col-s-6 {
    width: 50%; }

  .col-s-7 {
    width: 58.33%; }

  .col-s-8 {
    width: 66.66%; }

  .col-s-9 {
    width: 75%; }

  .col-s-10 {
    width: 83.33%; }

  .col-s-11 {
    width: 91.66%; }

  .col-s-12 {
    width: 100%; }

  .circle {
    margin-top: 10px;
    width: 170px;
    height: 170px; }
    .circle p {
      display: inline-block;
      top: 38%;
      left: 33%; }

  .promotion {
    height: 700px; }

  .picture img {
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px 0; }

  .text {
    width: 100%;
    height: 220px;
    padding: 0 10px;
    margin-top: 10px; }
    .text h1 {
      margin-top: -20px;
      text-align: center; }

  .footer {
    text-align: center; }
    .footer p, .footer h3 {
      padding: 5px; }
    .footer .col-m-12 + .col-m-12 {
      margin-top: -40px; }
    .footer i {
      padding: 15px; }

  header > nav > ul > li {
    width: 50px; } }

/*# sourceMappingURL=style.css.map */
